/* the styles backups */
.vbox-backups {
    -fx-padding: 15 20 15 0px;
}
.text-no-backups{
    -fx-text-fill: #7D838E;
    -fx-font-size: 13px;
    -fx-font-family: "Poppins Bold";
}

.flowPane-backups{
    -fx-alignment: center;
    -fx-spacing: 15px;
}

.primary-button {
    -fx-background-color: #3B82F6;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-padding: 9px 16px;
    -fx-font-family: "Poppins";
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #4B8FF7;
}

.secondary-button {
    -fx-background-color: #252E46;
    -fx-text-fill: #D9DFEC;
    -fx-background-radius: 8px;
    -fx-padding: 9px 16px;
    -fx-font-family: "Poppins";
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.secondary-button:hover {
    -fx-background-color: #303B57;
}

.tertiary-button {
    -fx-background-color: transparent;
    -fx-text-fill: #8993AA;
    -fx-background-radius: 8px;
    -fx-padding: 9px 16px;
    -fx-font-family: "Poppins";
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.tertiary-button:hover {
    -fx-background-color: #1D263D;
    -fx-text-fill: #D9DFEC;
}
.vbox-buttons{
-fx-spacing: 10px;
}

/* the styles of Serves */
.my-serves-list{
    -fx-padding: 10px;
    -fx-background-radius: 15px;
    -fx-background-color: #4F5866;
    -fx-margin: 20px;
}

.my-serves-subtitle{
    -fx-font-size: 12px;
    -fx-font-family: "Poppins Bold";
    -fx-fill: White;
}

.my-serves-lore{
    -fx-fill: #999EA6;
}