.sidebar-buttons{
    -fx-background-color: transparent;
    -fx-text-fill: White;
    -fx-border-width: 0px;
    -fx-padding: 15 15 15 32px;
    -fx-font-size: 14px;
    -fx-font-family: "Poppins Regular";
    -fx-graphic-text-gap: 10px;
}
.sidebar-buttons:hover{
    -fx-background-color: #4C4C4C;
}
.sidebar-icons{
    -fx-icon-color: White;
}
.sidebar-style{
   -fx-padding: 15 0 0 0px;
}
.category-text{
    -fx-text-fill: #B0B0B0;
    -fx-padding: 10 5 5 32px;
    -fx-font-size: 13px;
    -fx-font-family: "Poppins Light";
}

.tab-bar{
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 32px;

}
.tab-mac-1,
.tab-mac-2,
.tab-mac-3{
    -fx-stroke-width: 0.5;
}

.tab-mac-1{
    -fx-fill: #ff5f57;
    -fx-stroke: #e0443e;
}

.tab-mac-2{
    -fx-fill: #febc2e;
    -fx-stroke: #dea123;
}

.tab-mac-3{
    -fx-fill: #28c840;
    -fx-stroke: #1ea832;
}
.tab-buttons {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #B0B0B0;

    /* 1. Forzamos un tamaño cuadrado para botones tipo pestaña/icono */
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;

    /* 2. Reseteamos el padding a 0 en todos los lados para que no empuje el contenido */
    -fx-padding: 0 0 0 0;

    /* 3. Centrado absoluto */
    -fx-alignment: center;
    -fx-content-display: center;
}

.tab-buttons:hover{
    -fx-background-color: #fbfbfb28;
}
.button-close {
    -fx-background-radius: 0 20 0 0;
}
.app-title-text{
    -fx-text-fill: White;
    -fx-padding: 0 0 0 20px;
    -fx-font-size: 20px;
    -fx-font-family: "Poppins Black";
}
.tab-setting-app{
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #B0B0B0;

    /* 1. Forzamos un tamaño cuadrado para botones tipo pestaña/icono */
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;

    /* 2. Reseteamos el padding a 0 en todos los lados para que no empuje el contenido */
    -fx-padding: 0 0 0 0;

    /* 3. Centrado absoluto */
    -fx-alignment: center;
    -fx-content-display: center;
}
.tab-setting-app:hover{
    -fx-background-color: #fbfbfb28;
}
.tab-licence-type{
    -fx-background-color: #00dffd2a;
    -fx-font-size: 13px;
    -fx-text-fill: #00e0fd67;
    -fx-border-color: #00e0fd67;
    -fx-pref-width: 50px;
    -fx-pref-height: 25px;
    -fx-padding: 0;
    -fx-background-radius: 20 20 20 20px;
    -fx-border-radius: 20 20 20 20px;
    -fx-alignment: center;
    -fx-content-display: center;
}
.logo-svg {
    -fx-fill: #22A5F1;
}
.title{
    -fx-padding: 10 0 30 40px;
}
.server-name-text{
}

.status-server-text{
}

.server-image{
}
.app-image{
}

.content-style{
    -fx-background-color: #1E293B;
    -fx-background-radius: 20 0 20 0;
}

.content-title{
    -fx-text-fill: White;
    -fx-padding: 20 0 0 20px;
    -fx-font-size: 22px;
    -fx-font-family: "Poppins Black";
}

.root {
    -fx-background-color: #111629;
    -fx-background-radius: 20;
}

.root.maximized {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


.modal{
    -fx-background-color: #fafafa36;
}